@{
    ViewBag.Title = "Информация";
}

<h2>@ViewBag.Title</h2>

<p>Данный сайт представляет собой корпоративную библиотеку, реализованную </p>
<p>в рамках учебной программы по веб-программированию на C#, для компании fuse8.</p>