@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title</h2>

<address>
    Igor Meshkov<br />
    Chelyabinsk, Russia<br />
</address>

<address>
    <strong>Поддержка:</strong><a href="mailto:meshkov-74@yandex.com">meshkov-74@yandex.ru</a><br />
</address>