@{
    ViewBag.Title = "Писмьо для смены пароля отправлено";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Пожалуйста, проверьте вашу почту для смены пароля.
    </p>
</div>
	
