@{
    ViewBag.Title = "Пароль успешно сменен";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Ваш пароль сменен. Пожалуйста, @Html.ActionLink("нажмите здесь, чтобы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
